WEB_BASE_URL=https://www.tiket.com/
USERNAME=
PASSWORD=
BROWSER=chrome

# FLIGHT DATA
ORIGIN_AIRPORT_CODE=CGK
DESTINATION_DOMESTIC_AIRPORT_CODE=DPS
DESTINATION_INTERNATIONAL_AIRPORT_CODE=SIN


# TRAIN DATA
ORIGIN_STATION_CODE=PSE
DESTINATION_STATION_CODE=CMI

# BUYER AND PASSENGER DATA
BUYER_NAME=Isyana
BUYER_EMAIL=isyana123@mail.com
BUYER_PHONE=08123456788

PASSENGER_NAME=Isyana
PASSENGER_IDENTITY=98326474647

INFANT_NAME=Raisa